<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado por utilizar o nosso cadastro de produtos!</h1>
    <p>
      Você solicitou recentemente um relatório do
      nosso cadastro de produtos.
      Segue em anexo o arquivo <%= @report_filename %>
      <br><br><br>
      Cordialmente,
      <br><br>
      A equipe de Cadastro de Produtos
    </p>
  </body>
</html>