Obrigado por utilizar o nosso cadastro de produtos!
===============================================

Você solicitou recentemente um relatório do
nosso cadastro de produtos.
Segue em anexo o arquivo <%= @report_filename %>


Cordialmente,

A equipe de Cadastro de Produtos
